In [1]:
import pandas as pd
df = pd.read_csv('june.csv')
df

,Date\Names,Shuvo,Tutul,Shahrukh,Manik,Mamun,Per Day Meal
0,6/1/2021,0.000000,0.0,0.0,0.0,0.0,0.0
1,6/2/2021,2.000000,NaN,2.5,NaN,2.5,5.0
2,6/3/2021,1.500000,NaN,2.0,1.0,2.0,6.5
3,6/4/2021,2.000000,2.0,2.0,2.0,2.0,10.0
4,6/5/2021,2.500000,2.5,2.5,1.5,2.5,11.5
5,6/6/2021,2.500000,2.5,1.5,1.5,2.5,10.5
6,6/7/2021,1.500000,2.5,2.5,1.5,2.5,10.5
7,6/8/2021,2.500000,2.5,1.5,1.5,1.5,9.5
8,6/9/2021,1.500000,2.5,2.5,1.5,2.5,10.5
9,6/10/2021,1.500000,2.5,2.5,1.5,2.5,10.5
10,6/11/2021,2.500000,2.5,2.5,2.5,2.5,12.5
11,6/12/2021,2.500000,2.5,2.5,1.5,2.5,11.5
12,6/13/2021,2.500000,2.5,2.5,1.5,2.5,11.5
13,6/14/2021,2.500000,2.5,2.5,1.5,2.5,11.5
14,6/15/2021,2.500000,2.5,2.5,1.5,2.5,11.5
15,6/16/2021,2.500000,2.5,0.5,1.5,2.5,9.5
16,6/17/2021,2.500000,2.5,2.5,1.5,2.5,11.5
17,6/18/2021,2.500000,2.5,2.5,2.5,2.5,12.5
18,6/19/2021,2.500000,2.5,2.5,1.5,2.5,11.5
19,6/20/2021,1.500000,2.5,2.5,1.5,2.5,10.5
20,6/21/2021,1.500000,2.5,2.5,1.5,2.5,10.5
21,6/22/2021,2.500000,2.5,2.5,1.5,2.5,11.5
22,6/23/2021,1.500000,2.5,1.0,1.5,2.5,9.0
23,6/24/2021,1.500000,2.5,2.5,1.5,1.5,9.5
24,6/25/2021,2.500000,2.5,2.5,2.5,2.5,12.5
25,6/26/2021,2.500000,2.5,2.5,1.5,2.5,11.5
26,6/27/2021,1.500000,2.5,1.5,1.5,1.5,8.5
27,6/28/2021,2.500000,2.5,2.5,2.5,2.5,12.5
28,6/29/2021,2.500000,2.5,1.5,2.5,2.5,11.5
29,6/30/2021,2.500000,2.5,2.5,2.5,2.5,12.5
30,5/1/2021,2.500000,2.5,2.5,2.5,2.5,12.5
31,Total Meal,65.000000,69.5,66.5,50.5,71.0,322.5
32,Total Members Meal,322.500000,NaN,NaN,NaN,NaN,NaN
33,Current Meal Rate,31.897674,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,45.0,NaN

In [10]:
df.describe()

            Shuvo      Tutul   Shahrukh      Manik      Mamun  Per Day Meal
count   34.000000  30.000000  32.000000  31.000000  33.000000     32.000000
mean    14.246990   4.633333   4.156250   3.258065   5.666667     20.093750
std     55.730548  12.260065  11.394989   8.784334  13.893944     55.241032
min      0.000000   0.000000   0.000000   0.000000   0.000000      0.000000
25%      1.500000   2.500000   2.000000   1.500000   2.500000      9.875000
50%      2.500000   2.500000   2.500000   1.500000   2.500000     11.500000
75%      2.500000   2.500000   2.500000   2.250000   2.500000     11.500000
max    322.500000  69.500000  66.500000  50.500000  71.000000    322.500000